<!-- Header  -->
<div class="w-[90%] h-14 flex flex-row justify-between px-4 mx-auto shadow-md">
  <img
    class="h-[80%] my-auto"
    src="../assets/images/logo.PNG"
    alt="logo of company"
  />
  <div
    class="h-[50%] my-auto group rounded-md hover:bg-pinkCustom duration-300"
  >
    <p
      class="text-xs text-pinkCustom font-bold mx-3 mt-1 group-hover:text-white duration-300 cursor-pointer"
    >
      პირადი კაბინეტი
    </p>
  </div>
</div>
<!-- Round Buttons -->
<div class="max-w-[70%] h-10 mx-auto my-3 flex flex-row justify-center">
  <div class="w-full flex items-center justify-around">
    <div
      *ngFor="
        let num of numbers;
        let i = index;
        let isFirst = first;
        let isLast = last
      "
      class="flex items-center w-full"
      [ngClass]="isLast ? 'justify-start' : 'justify-center'"
    >
      <div
        class="border-b w-1/2"
        [ngClass]="isFirst ? 'border-paleGreen' : 'border-paleBg'"
      ></div>
      <div
        class="w-5 h-5 rounded-full flex shrink-0 justify-center items-center mx-1"
        [ngClass]="num.isSelected ? 'bg-pinkCustom ' : 'bg-numBg'"
      >
        <p
          class="text-xs font-bold"
          [ngClass]="num.isSelected ? 'text-white ' : 'text-textColor'"
        >
          {{ i + 1 }}
        </p>
      </div>
      <div class="border-b border-paleBg w-1/2" *ngIf="!isLast"></div>
    </div>
  </div>
</div>
<!-- Main Content Here -->
<div class="max-w-[400px] mx-auto flex flex-col">
  <h1
    class="text-textColor text-base mx-auto md:text-xl font-bold tracking-tight"
  >
    ვისი ჩაწერა გსურს ?
  </h1>
  <!-- Radio Buttons  -->
  <div class="flex flex-row gap-3 w-full items-center justify-between mt-4">
    <div
      class="flex flex-row border-2 cursor-pointer rounded-lg w-44 h-12 items-center flex-1"
    >
      <label
        for="forMe"
        class="ml-2 font-bold w-full cursor-pointer flex flex-row items-center text-xs text-textColor"
      >
        <input
          (change)="meOrOther = 'forMe'"
          [checked]="meOrOther === 'forMe'"
          class="ml-4 w-5 h-5 accent-pinkCustom"
          id="forMe"
          name="lorem"
          value="forMe"
          type="radio"
        />
        <span class="ml-2">ჩემთვის</span>
      </label>
    </div>
    <div
      class="flex flex-row border-2 cursor-pointer rounded-lg w-44 h-12 items-center flex-1"
    >
      <label
        for="forOther"
        class="ml-4 font-bold w-full cursor-pointer flex flex-row items-center text-xs text-textColor"
      >
        <input
          (change)="meOrOther = 'forOther'"
          [checked]="meOrOther === 'forOther'"
          id="forOther"
          name="lorem"
          value="forOther"
          type="radio"
          class="w-5 h-5 accent-pinkCustom"
        />
        <span class="ml-2">სხვისთვის</span>
      </label>
    </div>
  </div>
  <div *ngIf="meOrOther === 'forMe'" class="flex flex-col mt-7">
    <input
      class="w-full h-10 pl-4 border-2 focus:border-paleTextColor text-textColor text-xs font-bold rounded-md focus:outline-none"
      type="text"
      placeholder="მიუთითე პოლისის ნომერი"
    />
    <div class="flex flex-row w-full mt-5">
      <h1 class="text-paleTextColor text-sm">ან აირჩიე სიიდან</h1>
      <div class="border-b border-paleTextColor w-[60%] h-3 ml-2"></div>
    </div>
    <h1 class="text-textColor text-sm font-bold mt-3">
      აირჩიე ვისი ჩაწერა გსურს
    </h1>
    <ng-container *ngFor="let person of data; let i = index">
      <label
        [for]="'person' + i"
        class="w-full cursor-pointer flex flex-row h-14 mt-4 border-2 rounded-md focus:border-textColor"
        [ngClass]="person.isSelected ? 'border-paleTextColor' : ''"
      >
        <label class="flex items-center px-4"
          ><input
            type="radio"
            [id]="'person' + i"
            name="forWhom"
            class="ml-4 my-auto w-5 h-5 accent-pinkCustom checkRadio"
            (change)="changeStyles(i)"
          /><span
            class="label border rounded-full w-6 h-6 flex items-center justify-center"
            [ngClass]="person.isSelected ? 'border-none' : ''"
            ><span class="material-icons text-[18px]" *ngIf="person.isSelected"
              >done</span
            ></span
          ></label
        >
        <div class="flex flex-col my-auto">
          <h1 class="text-textColor text-xs font-bold">{{ person.name }}</h1>
          <h1 class="text-paleTextColor text-xs font-bold">
            {{ person.policyNum }}
          </h1>
        </div>
      </label>
    </ng-container>
  </div>
  <div *ngIf="meOrOther === 'forOther'">
    <h1 class="text-textColor text-xs mt-6 mb-3 mx-auto font-bold">
      მიუთითე დაზღვეულის მონაცემები
    </h1>
    <fieldset class="w-full pb-2 px-5 border-2 rounded-md">
      <legend class="text-xs px-2 text-paleTextColor">
        პირადი ან პოლისის ნომერი
      </legend>
      <input
        type="text"
        class="outline-none focus:outline-none w-full text-textColor text-xs font-bold"
      />
    </fieldset>
    <fieldset class="w-full mt-3 pb-2 px-5 border-2 rounded-md">
      <legend class="text-xs px-2 text-paleTextColor">დაბადების თარიღი</legend>
      <input
        type="text"
        class="outline-none focus:outline-none w-full text-textColor text-xs font-bold"
      />
    </fieldset>
    <div class="h-10 w-full flex items-center px-4 rounded-lg bg-paleBg my-5">
      <span class="text-paleTextColor text-xs font-bold">დაზღვეული - </span>
      <span class="text-textColor text-xs font-bold">ვახო სვანიძე</span>
    </div>
    <h1 class="text-textColor text-xs font-bold">აირჩიე სასურველი პოლისი</h1>
    <!-- second set of radio buttons -->
    <div class="w-[80%] flex flex-row justify-between my-4">
      <div class="flex flex-row items-center">
        <label
          for="GPIH11"
          class="font-bold w-full cursor-pointer flex flex-row items-center text-xs text-textColor"
        >
          <input
            name="policy"
            type="radio"
            id="GPIH11"
            class="w-5 h-5 accent-pinkCustom"
          />
          <span class="ml-2"> GPIH 12234/11</span>
        </label>
      </div>
      <div class="flex flex-row items-center">
        <label
          for="GPIH12"
          class="font-bold w-full cursor-pointer flex flex-row items-center text-xs text-textColor"
        >
          <input
            name="policy"
            type="radio"
            id="GPIH12"
            class="ml-4 w-5 h-5 accent-pinkCustom"
          />
          <span class="ml-2"> GPIH 12234/12</span>
        </label>
      </div>
    </div>
  </div>
</div>
<!-- Buttons at the End -->
<div
  class="fixed w-full bottom-0 h-16 flex items-center justify-center bg-white"
>
  <div class="flex flex-row w-[450px] justify-between">
    <button
      class="w-20 -pt-2 cursor-pointer flex flex-row py-2 px-3 justify-center border-2 border-paleTextColor rounded-md"
    >
      <img
        class="w-5 h-4 inline"
        src="../assets/images/arrow-left-solid.svg"
        alt=""
      />
      <span class="text-xs text-textColor font-bold">უკან</span>
    </button>
    <button
      class="w-28 bg-pinkCustom flex items-center justify-center cursor-pointer rounded-md"
    >
      <span class="text-xs text-white font-bold">გაგრძელება</span>
    </button>
  </div>
</div>
<div class="h-16"></div>
